@media (max-width: 430px) {
    .waitlist-background {
        background-size: cover !important;
    }
}
/* iPhone 12 / 12 Pro y similares (hasta 390px) */
@media (max-width: 390px) {
  .waitlist-background {
      background-size: cover !important;
      background-position: -530px 0px !important;
  }
}

/* iPhone SE y pantallas pequeñas (hasta 375px) */
@media (max-width: 375px) {
  .waitlist-background {
      background-size: cover !important;
      background-position: -542px 0px !important;
  }
}
