.financial-form-container {
  max-width: 571px;
  background-color: var(--dnero-background-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  padding: 40px 40px;
  border-radius: 40px;
}
.financial-form{
  display: flex;
  flex-direction: column;
}
.financial-form-title {
  margin-bottom: 16px !important;
}
.policy-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.form-logo{
  padding-bottom: 30px;
  align-self: center;
}

.financial-input-field {
  margin: 0 0 16px 0 !important;
  width: 100% !important;
}

.financial-input-field input {
  width: 100% !important;
}

.financial-checkbox-field {
  display: flex;
  align-items: start !important;
  gap: 12px;
  max-width: 100%;
  padding: 0 !important;
}

.financial-success-message{
  display: none;
  text-align: center;
  gap: 20px;
}

.form-hyperlink{
  text-decoration: underline !important;
  color: black !important;
}

.exit-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.button-323-width {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: var(--form-max-width-desktop) !important;
    width: var(--form-max-width-desktop) !important;
    margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .button-323-width {
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    width: 323px !important;
    max-width: 323px !important;
  }
  .financial-form-container {
    padding: 26px 5px;
  }
  .financial-form-title-container {
    max-width: 329px;
  }
  .financial-input-field {
    width: var(--form-max-width-mobile) !important;
  }

  .policy-container {
    padding-bottom: 10px;
  }
  .form-hyperlink{
    text-align: center;
  }

  .financial-input-field input {
    width: var(--form-max-width-mobile) !important;
  }

  .button--l-100 {
    max-width: var(--form-max-width-mobile);
    width: var(--form-max-width-mobile);
  }
}