:root {
  --dnero-4k-sans-serif: Urbanist;
  --dnero-4k-web-sizes-body-1: 21;
  --dnero-4k-web-sizes-body-2: 18;
  --dnero-4k-web-sizes-body-3: 16;
  --dnero-4k-web-sizes-caption-1: 14;
  --dnero-4k-web-sizes-caption-2: 12;
  --dnero-4k-web-sizes-h1: 110;
  --dnero-4k-web-sizes-h2: 57;
  --dnero-4k-web-sizes-h3: 52;
  --dnero-4k-web-sizes-h4: 46;
  --dnero-4k-web-sizes-h5: 37;
  --dnero-4k-web-sizes-h6: 28;
  --dnero-4k-web-sizes-h7: 23;
  --dnero-4k-weight-bold: Bold;
  --dnero-4k-weight-italic: Italic;
  --dnero-4k-weight-light: Light;
  --dnero-4k-weight-medium: Medium;
  --dnero-4k-weight-regular: Regular;
  --dnero-4k-weight-semi-bold: SemiBold;
  --dnero-accordion-dimension: 6.25rem;
  --dnero-accordion-height: 2.5rem;
  --dnero-avatar-label-horizontal-l-height: 4.5rem;
  --dnero-avatar-label-horizontal-l-width: 10.875rem;
  --dnero-avatar-label-horizontal-m-height: 3.5rem;
  --dnero-avatar-label-horizontal-m-width: 9.188rem;
  --dnero-avatar-label-horizontal-s-height: 2.5rem;
  --dnero-avatar-label-horizontal-s-width: 7rem;
  --dnero-avatar-label-horizontal-x-l-height: 6rem;
  --dnero-avatar-label-horizontal-x-l-width: 13rem;
  --dnero-avatar-label-horizontal-x-s-height: 2rem;
  --dnero-avatar-label-horizontal-x-s-width: 5.812rem;
  --dnero-avatar-label-icon-action-l-height: 3.5rem;
  --dnero-avatar-label-icon-action-l-width: 4.188rem;
  --dnero-avatar-label-icon-action-m-height: 2.5rem;
  --dnero-avatar-label-icon-action-m-width: 3.25rem;
  --dnero-avatar-label-icon-action-x-l-height: 4.5rem;
  --dnero-avatar-label-icon-action-x-l-width: 4.938rem;
  --dnero-avatar-label-icon-action-x-x-l-height: 6rem;
  --dnero-avatar-label-icon-action-x-x-l-width: 6.688rem;
  --dnero-avatar-label-vertical-l-height: 7.5rem;
  --dnero-avatar-label-vertical-l-width: 5.062rem;
  --dnero-avatar-label-vertical-m-height: 4.875rem;
  --dnero-avatar-label-vertical-m-width: 3.812rem;
  --dnero-avatar-label-vertical-s-height: 4.25rem;
  --dnero-avatar-label-vertical-s-width: 3.188rem;
  --dnero-avatar-label-vertical-x-l-height: 9.375rem;
  --dnero-avatar-label-vertical-x-l-width: 6rem;
  --dnero-avatar-label-vertical-x-s-height: 3.625rem;
  --dnero-avatar-label-vertical-x-s-width: 3.188rem;
  --dnero-avatar-l: 3.5rem;
  --dnero-avatar-m: 2.5rem;
  --dnero-avatar-s: 2rem;
  --dnero-avatar-x-l: 4.5rem;
  --dnero-avatar-x-s: 1.5rem;
  --dnero-avatar-x-x-l: 6rem;
  --dnero-background-blue: #0462fc;
  --dnero-background-gray: #f8f8f8;
  --dnero-background-white: #ffffff;
  --dnero-badge-m-height: 1rem;
  --dnero-badge-m-width: 1rem;
  --dnero-badge-s-height: 0.375rem;
  --dnero-badge-s-width: 0.375rem;
  --dnero-black: #000000;
  --dnero-blue-10: #e6efff;
  --dnero-blue-100: #002259;
  --dnero-blue-20: #b9d3ff;
  --dnero-blue-30: #8bb7ff;
  --dnero-blue-40: #5e9bff;
  --dnero-blue-50: #317fff;
  --dnero-blue-60: #0462fc;
  --dnero-blue-70: #0050d3;
  --dnero-blue-80: #0041aa;
  --dnero-blue-90: #003182;
  --dnero-button-l-dimension-max: 6.25rem;
  --dnero-button-l-dimension-min: 3.125rem;
  --dnero-button-l-height: 3rem;
  --dnero-button-m-dimension-max: 6.25rem;
  --dnero-button-m-dimension-min: 0rem;
  --dnero-button-m-height: 2.875rem;
  --dnero-button-s-dimension-max: 6.25rem;
  --dnero-button-s-dimension-min: 3.125rem;
  --dnero-button-s-height: 1.875rem;
  --dnero-checkbox-height: 1.125rem;
  --dnero-checkbox-width: 1.125rem;
  --dnero-chip-dimension-min: 1.562rem;
  --dnero-chip-height: 2rem;
  --dnero-columns-grid-columns-desktop: 12;
  --dnero-columns-grid-columns-mobile: 4;
  --dnero-columns-grid-columns-tablet: 8;
  --dnero-date-time-picker-dimension-height-max: 30.688rem;
  --dnero-date-time-picker-dimension-height-min: 15.188rem;
  --dnero-date-time-picker-width: 22.5rem;
  --dnero-dialog-dimension-height-min: 16.25rem;
  --dnero-dialog-width: 27.188rem;
  --dnero-disclaimers-dimension-height-min: 3.875rem;
  --dnero-disclaimers-dimension-width: 6.25rem;
  --dnero-dots-not-selected-height: 0.812rem;
  --dnero-dots-not-selected-weight: 0.812rem;
  --dnero-dots-selected-height: 0.688rem;
  --dnero-dots-selected-width: 2.125rem;
  --dnero-dropdown-height-max: 13.938rem;
  --dnero-dropdown-height-min: 2.375rem;
  --dnero-dropdown-width-max: 15.188rem;
  --dnero-dropdown-width-min: 3.125rem;
  --dnero-full: 6.25rem;
  --dnero-gray-10: #f5f5f5;
  --dnero-gray-100: #3d3d3d;
  --dnero-gray-20: #e0e0e0;
  --dnero-gray-30: #cccccc;
  --dnero-gray-40: #b8b8b8;
  --dnero-gray-5: #f8f8f8;
  --dnero-gray-50: #a3a3a3;
  --dnero-gray-60: #8f8f8f;
  --dnero-gray-70: #7a7a7a;
  --dnero-gray-80: #666666;
  --dnero-gray-90: #525252;
  --dnero-green-10: #e5ffef;
  --dnero-green-100: #005422;
  --dnero-green-20: #b7ffd4;
  --dnero-green-30: #8affb8;
  --dnero-green-40: #5cff9d;
  --dnero-green-50: #2eff81;
  --dnero-green-60: #00f763;
  --dnero-green-70: #00ce53;
  --dnero-green-80: #00a542;
  --dnero-green-90: #007d32;
  --dnero-gutter: 20;
  --dnero-input-dimension: 6.25rem;
  --dnero-input-height: 3rem;
  --dnero-keyboard-dimension-width: 6.25rem;
  --dnero-keyboard-height: 20rem;
  --dnero-l: 1.25rem;
  --dnero-list-dimensions: 6.25rem;
  --dnero-list-height: 5.75rem;
  --dnero-loading-height: 2.5rem;
  --dnero-loading-width: 2.5rem;
  --dnero-logo-horizontal-l-height: 18.75rem;
  --dnero-logo-horizontal-l-width: 53.438rem;
  --dnero-logo-horizontal-m-height: 15.625rem;
  --dnero-logo-horizontal-m-width: 49.312rem;
  --dnero-logo-horizontal-s-height: 12.5rem;
  --dnero-logo-horizontal-s-width: 35.562rem;
  --dnero-logo-horizontal-x-s-height: 6.25rem;
  --dnero-logo-horizontal-x-s-width: 17.812rem;
  --dnero-logo-isologo-l-height: 18.75rem;
  --dnero-logo-isologo-l-width: 18.75rem;
  --dnero-logo-isologo-m-height: 15.625rem;
  --dnero-logo-isologo-m-width: 15.625rem;
  --dnero-logo-isologo-s-height: 12.5rem;
  --dnero-logo-isologo-s-width: 12.5rem;
  --dnero-logo-isologo-x-l-height: 18.75rem;
  --dnero-logo-isologo-x-l-width: 14.5rem;
  --dnero-logo-isologo-x-s-height: 6.25rem;
  --dnero-logo-isologo-x-s-width: 6.25rem;
  --dnero-logo-isologo-x-x-s-height: 2.5rem;
  --dnero-logo-isologo-x-x-s-weight: 2.5rem;
  --dnero-logo-isologo-x-x-s-width: 1.25rem;
  --dnero-logo-vertical-m-height: 12.5rem;
  --dnero-logo-vertical-m-width: 15.625rem;
  --dnero-logo-vertical-s-height: 12.5rem;
  --dnero-logo-vertical-s-width: 17.188rem;
  --dnero-logo-vertical-x-s-height: 6.25rem;
  --dnero-logo-vertical-x-s-width: 6.25rem;
  --dnero-logo-vertical-x-x-s-height: 2.5rem;
  --dnero-logo-vertical-x-x-s-weight: 2.5rem;
  --dnero-logo-vertical-x-x-x-s-height: 20;
  --dnero-logo-vertical-x-x-x-s-weight: 20;
  --dnero-m: 0.938rem;
  --dnero-margin: 20;
  --dnero-nav-bars-dimension-width: 6.25rem;
  --dnero-nav-bars-height: 5.875rem;
  --dnero-neutral-black: #000000;
  --dnero-neutral-white: #ffffff;
  --dnero-none: 0rem;
  --dnero-orange-10: #fff0e5;
  --dnero-orange-100: #5c2700;
  --dnero-orange-20: #ffd5b7;
  --dnero-orange-30: #ffbb8a;
  --dnero-orange-40: #ffa05c;
  --dnero-orange-50: #ff862e;
  --dnero-orange-60: #ff6b00;
  --dnero-orange-70: #d65a00;
  --dnero-orange-80: #ad4900;
  --dnero-orange-90: #853800;
  --dnero-pink-10: #ffeaf1;
  --dnero-pink-100: #55001b;
  --dnero-pink-20: #ffbcd1;
  --dnero-pink-30: #ff8eb2;
  --dnero-pink-40: #ff6092;
  --dnero-pink-50: #ff3273;
  --dnero-pink-60: #dd1f5b;
  --dnero-pink-70: #bb1046;
  --dnero-pink-80: #990534;
  --dnero-pink-90: #770026;
  --dnero-primary-10: #e6efff;
  --dnero-primary-100: #002259;
  --dnero-primary-30: #8bb7ff;
  --dnero-primary-50: #317fff;
  --dnero-primary-60: #0462fc;
  --dnero-primary-80: #0041aa;
  --dnero-purple-10: #f6f0ff;
  --dnero-purple-100: #270d4c;
  --dnero-purple-20: #e2cdff;
  --dnero-purple-30: #ceabff;
  --dnero-purple-40: #bb89ff;
  --dnero-purple-50: #a164f6;
  --dnero-purple-60: #854cd4;
  --dnero-purple-70: #6b37b2;
  --dnero-purple-80: #532690;
  --dnero-purple-90: #3c186e;
  --dnero-radio-buttons-height: 1.5rem;
  --dnero-radio-buttons-width: 1.5rem;
  --dnero-red-10: #ffebe5;
  --dnero-red-100: #541200;
  --dnero-red-20: #ffc7b7;
  --dnero-red-30: #ffa38a;
  --dnero-red-40: #ff7f5c;
  --dnero-red-50: #ff5b2e;
  --dnero-red-60: #f73600;
  --dnero-red-70: #ce2d00;
  --dnero-red-80: #a52400;
  --dnero-red-90: #7d1b00;
  --dnero-s: 0.125rem;
  --dnero-secondary-aqua: #2edcff;
  --dnero-secondary-blue: #0462fc;
  --dnero-secondary-orange: #ff6b00;
  --dnero-secondary-pink: #ff3273;
  --dnero-secondary-yellow-green: #e5fe02;
  --dnero-secondary-yellow: #fff12e;
  --dnero-semantic-disabled-10: #f5f5f5;
  --dnero-semantic-disabled-20: #e0e0e0;
  --dnero-semantic-disabled-50: #a3a3a3;
  --dnero-semantic-disabled-80: #666666;
  --dnero-semantic-error-10: #ffebe5;
  --dnero-semantic-error-40: #ff7f5c;
  --dnero-semantic-error-50: #ff5b2e;
  --dnero-semantic-error-90: #7d1b00;
  --dnero-semantic-information-10: #e5fbff;
  --dnero-semantic-information-70: #00acce;
  --dnero-semantic-information-90: #00687d;
  --dnero-semantic-success-10: #e5ffef;
  --dnero-semantic-success-30: #007d32;
  --dnero-semantic-success-70: #00ce53;
  --dnero-semantic-warning-10: #fffde5;
  --dnero-semantic-warning-60: #f7e700;
  --dnero-semantic-warning-70: #cec000;
  --dnero-semantic-warning-90: #7d7400;
  --dnero-sky-blue-10: #e5fbff;
  --dnero-sky-blue-100: #004654;
  --dnero-sky-blue-20: #b7f3ff;
  --dnero-sky-blue-30: #8aebff;
  --dnero-sky-blue-40: #5ce4ff;
  --dnero-sky-blue-50: #2edcff;
  --dnero-sky-blue-60: #00cef7;
  --dnero-sky-blue-70: #00acce;
  --dnero-sky-blue-80: #008aa5;
  --dnero-sky-blue-90: #00687d;
  --dnero-switch-height: 1.562rem;
  --dnero-switch-width: 2.5rem;
  --dnero-tab-dimension: 6.25rem;
  --dnero-tab-height: 2.188rem;
  --dnero-text: #ffffff;
  --dnero-tooltips-dimension-max: 6.25rem;
  --dnero-tooltips-dimension-min: 1.562rem;
  --dnero-tooltips-height-min: 1.5rem;
  --dnero-top-bar-dimension: 6.25rem;
  --dnero-top-bar-height: 4rem;
  --dnero-white: #ffffff;
  --dnero-x-l: 1.562rem;
  --dnero-x-s: 0.062rem;
  --dnero-x-x-l: 1.875rem;
  --dnero-x-x-x-l: 2.5rem;
  --dnero-yellow-green-10: #fcffe5;
  --dnero-yellow-green-100: #525b00;
  --dnero-yellow-green-20: #f8ffb8;
  --dnero-yellow-green-30: #f3ff8a;
  --dnero-yellow-green-40: #efff5d;
  --dnero-yellow-green-50: #eaff2f;
  --dnero-yellow-green-60: #e5fe02;
  --dnero-yellow-green-70: #c0d500;
  --dnero-yellow-green-80: #9bac00;
  --dnero-yellow-green-90: #778400;
  --dnero-yellow-10: #fffde5;
  --dnero-yellow-100: #544e00;
  --dnero-yellow-20: #fffab7;
  --dnero-yellow-30: #fff78a;
  --dnero-yellow-40: #fff45c;
  --dnero-yellow-50: #fff12e;
  --dnero-yellow-60: #f7e700;
  --dnero-yellow-70: #cec000;
  --dnero-yellow-80: #a59a00;
  --dnero-yellow-90: #7d7400;
  --dnero-bp-tablet: 834;
  --dnero-bp-desktop: 1440;
  --dnero-bp-mobile: 390;
  --dnero-desktop-sans-serif: Urbanist;
  --dnero-desktop-web-sizes-body-1: 18;
  --dnero-desktop-web-sizes-body-2: 16;
  --dnero-desktop-web-sizes-body-3: 14;
  --dnero-desktop-web-sizes-caption-1: 12;
  --dnero-desktop-web-sizes-caption-2: 10;
  --dnero-desktop-web-sizes-h1: 85;
  --dnero-desktop-web-sizes-h2: 50;
  --dnero-desktop-web-sizes-h3: 45;
  --dnero-desktop-web-sizes-h4: 40;
  --dnero-desktop-web-sizes-h5: 32;
  --dnero-desktop-web-sizes-h6: 24;
  --dnero-desktop-web-sizes-h7: 20;
  --dnero-desktop-weight-bold: Bold;
  --dnero-desktop-weight-italic: Italic;
  --dnero-desktop-weight-light: Light;
  --dnero-desktop-weight-medium: Medium;
  --dnero-desktop-weight-regular: Regular;
  --dnero-desktop-weight-semi-bold: SemiBold;
  --dnero-mobile-sans-serif: Urbanist;
  --dnero-mobile-web-sizes-body-1: 18;
  --dnero-mobile-web-sizes-body-2: 16;
  --dnero-mobile-web-sizes-body-3: 14;
  --dnero-mobile-web-sizes-caption-1: 13;
  --dnero-mobile-web-sizes-caption-2: 12;
  --dnero-mobile-web-sizes-h1: 42;
  --dnero-mobile-web-sizes-h2: 38;
  --dnero-mobile-web-sizes-h3: 36;
  --dnero-mobile-web-sizes-h4: 30;
  --dnero-mobile-web-sizes-h5: 24;
  --dnero-mobile-web-sizes-h6: 22;
  --dnero-mobile-web-sizes-h7: 20;
  --dnero-mobile-weight-bold: Bold;
  --dnero-mobile-weight-italic: Italic;
  --dnero-mobile-weight-light: Light;
  --dnero-mobile-weight-medium: Medium;
  --dnero-mobile-weight-regular: Regular;
  --dnero-mobile-weight-semi-bold: SemiBold;
  --dnero-tablet-sans-serif: Urbanist;
  --dnero-tablet-web-sizes-body-1: 18;
  --dnero-tablet-web-sizes-body-2: 16;
  --dnero-tablet-web-sizes-body-3: 14;
  --dnero-tablet-web-sizes-caption-1: 12;
  --dnero-tablet-web-sizes-caption-2: 10;
  --dnero-tablet-web-sizes-h1: 65;
  --dnero-tablet-web-sizes-h2: 48;
  --dnero-tablet-web-sizes-h3: 45;
  --dnero-tablet-web-sizes-h4: 40;
  --dnero-tablet-web-sizes-h5: 32;
  --dnero-tablet-web-sizes-h6: 24;
  --dnero-tablet-web-sizes-h7: 20;
  --dnero-tablet-weight-bold: Bold;
  --dnero-tablet-weight-italic: Italic;
  --dnero-tablet-weight-light: Light;
  --dnero-tablet-weight-medium: Medium;
  --dnero-tablet-weight-regular: Regular;
  --dnero-tablet-weight-semi-bold: SemiBold;
}