.waitlist-form-container {
  width: 100%;  
  padding: 40px 20px;
}

.waitlist-form {
  max-width: var(--form-max-width-desktop);
}

.success-message {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  position: relative;
}

.countdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  position: relative;
  padding: 0 60px 0 30px;
}

.countdown div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10%;
  height: 90%;
  width: 1px;
  background-color: var(--dnero-secondary-aqua);
}

.countdown span {
  display: block;
}

.align-center {
  text-align: center;
}

.input-field {
  margin: 0 0 16px 0 !important;
  width: var(--form-max-width-desktop) !important;
}

.input-field input {
  width: var(--form-max-width-desktop) !important;
}

.button--l-100 {
  max-width: var(--form-max-width-desktop) !important;
  width: var(--form-max-width-desktop) !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-title {
  margin-bottom: var(--margin-bottom-desktop) !important;
}

.form-image {
  width: 154px;
  height: 46px;
  margin-bottom: 5px;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: var(--form-max-width-desktop);
  padding-left: 15px;
  padding-top: 15px;
}

.line-height-100 {
  line-height: 100%;
}

@media (min-width: 1281px) and (max-width: 2399px) {
  .form-title {
    margin-bottom: 28px !important;
  }
}

@media (max-width: 768px) {
  .waitlist-form-container {
    width: 100%;  
    padding: 40px 15px;
  }
  .waitlist-form {
    max-width: var(--form-max-width-mobile);
  }

  .input-field {
    width: var(--form-max-width-mobile) !important;
  }

  .input-field input {
    width: var(--form-max-width-mobile) !important;
  }

  .button--l-100 {
    max-width: var(--form-max-width-mobile) !important;
    width: var(--form-max-width-mobile) !important;
  }

  .countdown {
    gap: 0;
    margin-top: 40px;
  }

  .countdown div {
    padding: 0 20px 0 15px;
  }
}

@media (max-width: 390px) {
  .countdown div {
    padding: 0 15px 0 10px;
  }
}